@import url('https://fonts.googleapis.com/css?family=Revalia');

body{
  font-family: 'Cabin', sans-serif;
}

body {
background-image: linear-gradient(rgba(255, 255, 255, 0.65), transparent), url(https://i.ibb.co/3kNFN8V/restaurant2.jpg);
background-attachment: fixed;
}

.container {
  height: 100vh;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

<style>
body {margin:0;}

.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}
</style>

h1 {
  color: #ffffff;
}

h2 {
  color: #00735e;
}

h3 {
  color: #ffffff;
}

h4 {
  color: #00735e;
}

p {
  font-size: 2rem;
}




 body {
  font-size: 2rem;
  font-family: 'Aclonica', sans-serif;
  color: #c2c2a3;
}


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

header, footer {
  background: #ffffff;
}

  background:#128743 ;
}
