@import url('https://fonts.googleapis.com/css?family=Encode+Sans');

body{
   font-family: 'Encode Sans', sans-serif;
}

body {
background: #f0ffde;
}

.circle {
  width: 40rem;
  height: 40rem;
  border: none;
  border-radius: 40px 10px;
  background-image: url('http://i64.tinypic.com/8ygiae.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 10px 5px 5px #c2c2a3;
}


h1 {
  color: #f0ffde;
}

h2 {
  color: #097807;
}

h3 {
  color: #D81B60;
}

p {
  font-size: 2rem;
}

header, footer {
  background:#f0ffde;
}
