@import url('https://fonts.googleapis.com/css?family=Cabin');

body{
  font-family: 'Cabin', sans-serif;
}

body {
background-image: linear-gradient(rgba(255, 255, 255, 0.65), transparent), url(https://i.ibb.co/3kNFN8V/restaurant2.jpg);
background-attachment: fixed;
}

.container {
  height: 100vh;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  color: #00735e;
}

h2 {
  color: #007d13;
}

h3 {
  color: #ffffff;
}

h4 {
  color: #4d004d;
}

p {
  font-size: 2rem;
}




 body {
  font-size: 2rem;
  font-family: 'Aclonica', sans-serif;
  color: #c2c2a3;
}


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.box {
  display: inline-block;
  width: 41rem;
  height: 69vh;
  background: #3d3d29;
  padding: 20px;
  box-shadow: 10px 5px 5px #c2c2a3;

}

.special {
  display: inline-block;
  width: 41rem;
  height: 69vh;
  background: #4d004d;
  padding: 20px;
  box-shadow: 10px 5px 5px #cc00cc;
}

header, footer {
  background: ;
}

  background:#128743 ;
}
